@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserratet", sans-serif;
}

.Page-Wrapper {
  display: flex;
  flex-direction: row;
}

.Navigation {
  background-color: red;
}

.navigation-bar {
  list-style: none;
}
