@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&400&200display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.Page-wrapper {
  display: flex;
}

.Navigation-bar {
  flex: 1;
  background-color: #02182b;
  color: white;
  height: 100%;
}

.Page-view {
  flex: 4;
  background-color: green;
  position: relative;
}

.Notifications-bar {
  flex: 1;
  background-color: blue;
  position: relative;
}
