@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.createInventory-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #02182b;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.title-header {
  color: #02182b;
}

.form-input {
  font-size: 13px;
  font-weight: 400;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.form-input input[type="text"],
input[type="number"] {
  border: 0;
  border-radius: 5px;
  text-indent: 5px;
}

.submit-form {
  border: 0;
  padding: 1px;
  border-radius: 5px;
  color: white;
  background-color: #e37f4d;
  width: 100%;
}
