.Dashboard-container {
  background-color: #02182b;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px #000000;
}

.Dashboard-Header {
  color: #e37f4d;
}

.Dashboard-inset {
  margin-left: 5%;
}

.Dashboard-Header {
  font-weight: 600;
}

.sub-header {
  color: #e37f4d;
}

.Category-header {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-size: 15px;
  margin-top: 1%;
}

@media only screen and (max-width: 768px) {
  /* Para mi modelo responsivo: page-viewer */
  .Dashboard-container {
    background-color: #02182b;
    height: 700px;
  }
}
