td {
  background-color: white;
  padding: 5px;
  text-align: left;
  border: 0.5 solid white;
}

tr {
  border: 0;
}

.actions {
  text-align: center;
  background-color: #e37f4d;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

th {
  background-color: #02182b;
  color: white;
  padding: 10px;
}

table {
  width: 100%;
  box-shadow: 5px 5px 15px -5px #000000;
}

.title-name {
  color: #02182b;
  text-align: left;
}
