.logo h1 {
  font-size: 30px;
  margin-left: 5%;
}
.logo h2 {
  font-size: 15px;
  margin-left: 5%;
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav ul li {
  margin-left: 5%;
  padding: 4px;
}
